/* Main Colors */
$mainBlack: #393735;

$mainWhite: #ffffff;

$primaryColor: #02c39a;
$mainBlue: #028dc3;
$mainYellow: #f5c98c;
$mainRed: #f3bdbd;
$mainGrey: #d8d8d8;
$lightGray: #f8f8f8;
$dangerColor: #ec1f1f;

/* Fonts */
$mainFont: "Proxima", sans-serif;
$fontBold: "Proxima-bold", sans-serif;
$fontSemibold: "Proxima-semibold", sans-serif;
$fontLight: "Proxima-light", sans-serif;
$fontThin: "Proxima-thin", sans-serif;

$fontH1: 36px;
$fontH2: 24px;
$fontH3: 20px;
$fontH4: 18px;
$fontSize14: 14px;
$fontSize16: 16px;
