.form-group .invalid input,
.form-group .invalid textarea,
.form-group .invalid .main-bar,
.form-group.invalid input,
.form-group .invalidinput {
  border: 1px solid red;
}

.save-row-info.invalid span {
  font-size: 16px;
  padding: 10px 15px;
  text-align: center;
  border-radius: 5px;
  color: rgba(236, 31, 31, 0.4);
  border: 1px solid rgba(236, 31, 31, 0.4);
  margin-right: 2rem;
}

.save-row-info.success span {
  font-size: 16px;
  padding: 10px 15px;
  text-align: center;
  border-radius: 5px;
  color: rgba(2, 195, 154, 0.4);
  border: 1px solid rgba(2, 195, 154, 0.4);
}
